/* landing page start */
.landing-container{
    margin-top: 4.5rem;
    width: 100%;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-content{
    width: 32rem;
    height: 70%;
}

.landing-content h1{
    font-size: 50px;
    line-height: 60px;
    color: #3386d5;
}

.landing-content-para{
    margin-top: 1rem;
    max-width: 97%;
}

.landing-content button{
    margin-top: 1rem;
    background: #418cd2;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 25%);
    color: #fff;
    font-size: 20px;
    border-radius: 24px;
    padding: 4px 20px;
    cursor: pointer;
    border: none;
}

.social-proof{
    margin-top: 3rem;
}

.social-proof div{
    display: flex;
    align-items: center;
}

.social-proof p{
    padding-left: 10px;
}

.landing-images{
    width: 32rem;
    height: 70%;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}

.bg{
    background-position: center;
    width: 12.5rem;
    height: 100%;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 25%);
}

.bg-1{
    background-image: url(../static/1.png);
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.bg-2{
    background-image: url(../static/2.png);
}

.bg-3{
    background-image: url(../static/4.png);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

@media (max-width:1024px) {
    .landing-container{
        flex-direction: column;
        gap: 1rem;
    }
    .landing-content{
        width: 100%;
        height: auto;
        padding-top: 2rem;
        padding-left: 1rem;
    }
    .landing-content h1{
        font-size: 30px;
        line-height: 32px;
    }
    .landing-container br{
        display: none;
    }
    .landing-images{
        width: 100%;
        height: 80%;
        padding: 3px;
    }
}

@media (max-width:600px) {
    .bg{
        width: 98%;
        border-radius: 25px;
    }
    .bg-2{
        display: none;
    }
    .bg-3{
        display: none;
    }
}

/* landing page end */

/* content start */
.content-container{
    width: 100%;
    height: auto;
    background: #f5f5f5;;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 20px;
}

.content-container a{
    color: #424242;
    margin-left: 2px;
    text-decoration: none;
}

.content-container h2{
    color: #424242;
    font-size: 32px;
}

.content-para{
    max-width: 45rem;
    text-align: justify;
    word-spacing:-2px;
}/* content end */

/* our products start */
.products-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-container h2{
    text-align: center;
    margin-top: 0.6rem;
    color: #424242;
    font-size: 30px;
}

.products-para{
    text-align: center;
    max-width: 45rem;
    margin-top: 0.6rem;
}

.product-box-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.product-box{
    max-width: 25rem;
    background: white;
    border-radius: 25px;
    box-shadow: 0 0 3px 0.1px rgba(0, 0, 0, 0.196);
    padding-bottom: 1rem;
}

.product-image{
    max-width: 100%;
    height: 15rem;
}

.product-image img{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: 100%;
}

.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-details h2{
    font-size: 23px;
    font-weight: 500;
}

.product-details p{
    text-align: center;
}

.product-details button{
    margin-top: 0.6rem;
    height: 2rem;
    width: 8rem;
    cursor: pointer;
    background: #418cd2;
    color: white;
    border: none;
    border-radius: 25px;
}

@media (max-width:437px) {
    .products-container h2{
        font-size: 25px;
    }
    .product-box{
        width: 95%;
    }
}

/* our products end */

/* faq section start */

.faq-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.faq-container h2{
    text-align: center;
    margin-top: 0.6rem;
    font-size: 32px;
    color: #424242;
}

.faq{
    margin-top: 0.6rem;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 35rem;
    height: 3rem;
    padding: 10px;
    box-shadow: 0 0 2px 0.3px rgb(0 0 0 / 22%);
    cursor: pointer;
}

.question h3{
    font-weight: 500;
}

.answer{
    max-width: 35rem;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    cursor: not-allowed;
}

.faq.open .answer{
    box-shadow: 0 0 2px 0.3px rgb(0 0 0 / 22%);
    max-height: 300px;
    padding: 5px;
}