*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* navbar start */
.navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 12px -4px rgb(0 0 0 / 46%);
    background: white;
}

.toggle i{
    font-size: 25px;
    color: #418cd2;
    cursor: pointer;
}

.brand-logo img{
    width: 66px;
    height: 52px;
}

.call-now{
    width: fit-content;
    padding: 8px 16px;
    background: #418cd2;
    box-shadow: 1px 1px 2px rgb(0 0 0 / 25%);
    border-radius: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 0.8rem;
}

.nav-items{
    position: fixed;
    top: 0;
    left: -18rem;
    width: 18rem;
    height: 100vh;
    background: white;
    box-shadow: 5px 0 6px -2px rgb(213 213 213 / 25%);
    transition: all ease-out 0.3s;
}

.nav-items.active{
    left: 0;
}

.nav-items .toggle{
    position: absolute;
    right: 43px;
    top: 25px;
}

.nav-items .toggle i{
    font-size: 25px;
}

.nav-items ul{
   margin-top: 4.5rem;
   width: 100%;
   border-top: 0.6px solid rgba(0, 0, 0, 0.157);
}

.nav-items li{
    padding-left: 30px;
    margin-top: 0.5rem;
    list-style: none;
}

.nav-items li a:hover{
    color: #418cd2;
}

.nav-items a{
    color: black;
    text-decoration: none;
}

@media (max-width:700px) {
    .navbar{
        padding: 10px;
        justify-content: space-between;
    }
}/* navbar end */

/* page heading start */
.heading-container{
    background-image: url(../static/page-bg\ .png);
    background-size: cover;
    margin-top: 4.5rem;
}

.heading-title{
    width: 100%;
    height: 15rem;
    background: rgba(0, 0, 0, 0.231);
}

.heading-main{
    width: 100%;
    height: 15rem;
    background: rgba(0, 0, 0, 0.332);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.heading-main p{
    color: white;
    font-weight: 400;
}

.bread-crumps{
    padding-bottom: 2px;
    border-bottom: 3.3px solid #418cd2;
}

.heading-main h2{
    font-size: 32px;
    color: white;
}

/* page heading end */


/* footer section start */
.footer-container{
    width: 100%;
    height: auto;
    background: #161515ed;
}

.footer-one{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* footer box */
.footer-box{
    width: 33.333%;
    height: 22rem;
    padding-top: 2rem;  
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;
}

.footer-box ul{
    margin-top: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.footer-box li{
    list-style: none;
    color: white;
}

.footer-box h3{
    margin-right: 3rem;
    color: white;
}

/* footer form start */
.footer-box form{
    margin-top: 1rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.footer-box textarea{
    resize: vertical;
    outline-style: none;
    padding: 0.6rem;
    border-radius: 3px;
}

.footer-box input{
    outline: none;
    border: none;
    height: 2rem;
    padding-left: 0.6rem;
    border-radius: 4px;
}

.footer-box button{
    background: #418cd2;
    border: none;
    height: 2rem;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.footer-box button:hover{
    background: #418cd2e5;
}/* footer form end */

/* footer credit start */
.footer-two{
    border-top: 0.1px solid rgba(61, 61, 61, 0.801);
    height: 6rem;
    margin-top: 1rem;
}

.footer-social-icons{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.footer-social-icons i{
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.footer-credit{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    color: white;
}

.footer-credit a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.footer-credit p{
    text-align: center;
}

@media (max-width:1009px) {
    .footer-one{
        display: flex;
        flex-direction: column;
    }
    .footer-box{
        width: 100%;
        height: 33.333%;
    }
}/* footer end */