@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* navbar start */
.navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 12px -4px rgb(0 0 0 / 46%);
    background: white;
    z-index: 4;
}

.brand-logo img{
    width: 61px;
    height: 47px;
}

.toggle{
  display: none;
  position: fixed;
  top: 1.5rem;
  right: 1rem;
}

.nav-items ul{
    display: flex;
    list-style-type: none;
    gap: 1rem;
}

.nav-items li a{
    text-decoration: none;
    color: #418cd2;
    font-weight: 600;
    padding-top: 22px;
    padding-bottom: 22px;
}

.nav-items a:hover{
    border-bottom: 4px solid #418cd2e4;
}

.mobile-items{
    position: fixed;
    top: -6rem;
    width: 100%;
    height: 10rem;
    box-shadow: 0 0.5px 0.5px 0 rgb(0 0 0 / 46%);
    background: #418cd2;
    display: flex;
    justify-content: center;
    transition: all ease-in 0.3s;
}

.mobile-items ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
}

.mobile-items li a{
    text-decoration: none;
    color: white;
}


@media (max-width:580px) {
    .toggle{
        display: initial;
    }
    .nav-items{
        display: none;
    }
    .mobile-items.active{
        display: flex;
        top: 4.3rem;
    }
}/* navbar end */


/* footer section start */
.footer-container{
    width: 100%;
    height: auto;
    background: #161515ed;
}

.footer-one{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* footer box */
.footer-box{
    width: 33.333%;
    height: 20rem;
    padding-top: 2rem;  
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;
}

.footer-box ul{
    margin-top: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.footer-box li{
    list-style: none;
    color: white;
}

.footer-box h3{
    margin-right: 3rem;
    color: white;
}

/* footer form start */
.footer-box form{
    margin-top: 1rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.footer-box textarea{
    resize: vertical;
    outline-style: none;
    padding: 0.6rem;
    border-radius: 3px;
}

.footer-box input{
    outline: none;
    border: none;
    height: 2rem;
    padding-left: 0.6rem;
    border-radius: 4px;
}

.footer-box button{
    background: #418cd2;
    border: none;
    height: 2rem;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.footer-box button:hover{
    background: #418cd2e5;
}/* footer form end */

/* footer credit start */
.footer-two{
    border-top: 0.1px solid rgba(61, 61, 61, 0.801);
    height: 6rem;
    margin-top: 1rem;
}

.footer-social-icons{
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

.footer-social-icons i{
    color: white;
    cursor: pointer;
    font-size: 18px;
}

.footer-credit{
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    color: white;
}

.footer-credit a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.footer-credit p{
    text-align: center;
}

@media (max-width:1009px) {
    .footer-one{
        display: flex;
        flex-direction: column;
    }
    .footer-box{
        width: 100%;
        height: 33.333%;
    }
}/* footer end */