@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Malayalam:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Malayalam', sans-serif;
}

/* navbar start */

.navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 12px -4px rgb(0 0 0 / 46%);
    background: white;
    z-index: 4;
}

.brand-logo a{
    font-size: 25px;
    color: #52878c;
    font-weight: bold;
    text-decoration: none;
}

.toggle{
  display: none;
  position: fixed;
  top: 1.5rem;
  right: 1rem;
}

.nav-items ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.nav-items li a{
    text-decoration: none;
    color: black;
}

.mobile-items{
    position: fixed;
    top: 4.3rem;
    width: 100%;
    height: 0rem;
    box-shadow: 0 0.5px 0.5px 0 rgb(0 0 0 / 46%);
    background: #52878c;
    display: flex;
    justify-content: center;
    transition: all ease-in 0.3s;
}

.mobile-items ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    list-style-type: none;
}

.mobile-items li a{
    text-decoration: none;
    color: white;
}


@media (max-width:580px) {
    .toggle{
        display: initial;
    }
    .nav-items{
        display: none;
    }
    .mobile-items.active{
        display: flex;
        height: 10rem;
    }
}
/* navbar end */